<h2>Categories</h2>

{{#each full.data}}
<h3>{{name}}</h3>
<p>Users watching: {{users_watching}}</p>
<p>Users tracking: {{users_tracking}}</p>
{{/each}}

{{ember-chart type='Bar' data=chartWT width=500 height=500 legend=true}}